<p-dialog
  [modal]="true"
  [draggable]="false"
  [(visible)]="display"
  [style]="{ width: '30rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <i class="pi pi-user-edit"></i>
      <h3 class="font-semibold">Edit User</h3>
    </div>
  </ng-template>
  <span class="p-text-secondary block mb-5">
    Update your information.
  </span>

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name" class="block text-900 font-medium mb-2">Name</label>
        <input
          id="name"
          type="text"
          placeholder="Name"
          pInputText
          autocomplete="off"
          class="w-full mb-3"
          formControlName="name"
        />

        <label for="password" class="block text-900 font-medium mb-2"
          >Password</label
        >
        <input
          id="password"
          type="password"
          placeholder="Password"
          pInputText
          class="w-full mb-3"
          formControlName="password"
        />

        <button
          pButton
          pRipple
          label="Update"
          icon="pi pi-pencil"
          class="w-full"
          [loading]="submitted"
        ></button>
      </div>
    </form>
</p-dialog>

<p-toast position="bottom-right"></p-toast>
