<div class="card w-full lg:w-6 m-auto mt-6">
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <span class="font-bold">Hello, {{ user.name }} 👋</span>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div
        class="flex flex-wrap align-items-center justify-content-between gap-3"
      >
        <div class="flex align-items-center">
          <p-button
            icon="pi pi-link"
            severity="success"
            rounded="true"
            text="true"
            (onClick)="openSharedLink()"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            rounded="true"
            text="true"
            (onClick)="confirmDelete($event)"
          />

          <p-button
            icon="pi pi-github"
            severity="contrast"
            rounded="true"
            text="true"
            (onClick)="openGithubLink()"
          />
        </div>
        @if (message.message) {
          <p-tag icon="pi pi-shield" severity="success" value="Active" />
        } @else {
          <p-tag
            icon="pi pi-exclamation-triangle"
            severity="warning"
            value="No Message"
          />
        }
      </div>
    </ng-template>
    <ng-template pTemplate="icons">
      <button
        class="p-panel-header-icon p-link mr-2"
        (click)="menu.toggle($event)"
      >
        <span class="pi pi-cog"></span>
      </button>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <p class="m-0 text-center">
      @if (message.message) {
      <span class="p-text-secondary block">
        You have a message.
      </span>

      <div class="flex justify-content-center gap-2 mt-3">
        <p-inplace [closable]="true">
          <ng-template pTemplate="display">
            <div class="inline-flex align-items-center">
              <span class="pi pi-eye" style="vertical-align: middle"></span>
              <span class="ml-2">View</span>
          </div>
          </ng-template>
          <ng-template pTemplate="content">
              <span>
                {{ message.message }}
              </span>
          </ng-template>
      </p-inplace>
      </div>
      } @else {
      <span class="p-text-secondary block">
        You don't have any message yet.
      </span>
      }
    </p>
  </p-panel>
</div>

<p-toast position="bottom-right"></p-toast>
<p-confirmDialog />

<app-modal-shared-link [display]="displayModalSharedMessage" [link]="sharedLink"></app-modal-shared-link>
