<p-dialog
  [modal]="true"
  [draggable]="false"
  [(visible)]="display"
  [style]="{ width: '30rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <i class="pi pi-file-edit"></i>
      <h3 class="font-semibold">Edit Secret Message</h3>
    </div>
  </ng-template>

  @if (!enableEdit) {
  <form [formGroup]="messageSecretKeyForm" (ngSubmit)="enableEditMessageForm()">
    <label for="secret_key" class="block text-900 font-medium mb-2"
      >Secret Key to Edit Message</label
    >
    <p-password
      id="secret_key"
      type="password"
      placeholder="Secret Key"
      pInputPassword
      [feedback]="false"
      [toggleMask]="true"
      [style]="{ width: '100%', 'margin-bottom': '1.5rem' }"
      [inputStyle]="{ width: '100%' }"
      formControlName="secret_key"
    />

    <button
      pButton
      pRipple
      label="Enter"
      icon="pi pi-chevron-right"
      class="w-full"
      [loading]="submitted"
    ></button>
  </form>
  } @else {
  <form [formGroup]="messageEditForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="message" class="block text-900 font-medium mb-2"
        >Message</label
      >
      <textarea
        rows="5"
        class="w-full"
        pInputTextarea
        formControlName="message"
      >
      </textarea>

      <label for="ttl_seconds" class="block text-900 font-medium mb-2 mt-3"
        >Message Duration (seconds)</label
      >
      <input
        id="ttl_seconds"
        type="number"
        placeholder="Message Duration"
        pInputText
        formControlName="ttl_seconds"
        [style]="{ width: '100%', 'margin-bottom': '1.5rem' }"
      />

      <label for="secret_key" class="block text-900 font-medium mb-2"
        >Old Secret Key</label
      >
      <p-password
        id="secret_key"
        type="password"
        placeholder="Secret Key"
        pInputPassword
        [feedback]="false"
        [toggleMask]="true"
        [style]="{ width: '100%', 'margin-bottom': '1.5rem' }"
        [inputStyle]="{ width: '100%' }"
        formControlName="old_secret_key"
      />

      <label for="secret_key" class="block text-900 font-medium mb-2"
        >New Secret Key</label
      >
      <p-password
        id="secret_key"
        type="password"
        placeholder="Secret Key"
        pInputPassword
        [feedback]="false"
        [toggleMask]="true"
        [style]="{ width: '100%', 'margin-bottom': '1.5rem' }"
        [inputStyle]="{ width: '100%' }"
        formControlName="new_secret_key"
      />

      <button
        pButton
        pRipple
        label="Update"
        icon="pi pi-file-edit"
        class="w-full"
        [loading]="submitted"
      ></button>
    </div>
  </form>
  }
</p-dialog>

<p-toast position="bottom-right"></p-toast>
