<p-dialog
  [modal]="true"
  [draggable]="false"
  [(visible)]="display"
  [style]="{ width: '30rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <p-avatar
        image="https://avatars.githubusercontent.com/u/32256029?v=4"
        shape="circle"
      />
      <span class="font-bold white-space-nowrap"> Eric Neves </span>
    </div>
  </ng-template>
  <label class="font-semibold w-6rem">Hello, Human! 👋</label>
  <span class="p-text-secondary block mb-5 mt-4">
    I'm a web developer passionate about designing scalable and maintainable
    software architectures. 🚀
  </span>

  <div class="card flex align-items-center gap-2 flex-wrap">
    <a href="https://www.linkedin.com/in/ericnevesrr/" target="_blank">
      <p-chip label="Linkedin" icon="pi pi-linkedin" />
    </a>
    <a href="https://www.instagram.com/ericneves_dev/" target="_blank">
      <p-chip label="Instagram" icon="pi pi-instagram" />
    </a>
    <a href="https://github.com/ericneves" target="_blank">
      <p-chip label="Github" icon="pi pi-github" />
    </a>
  </div>
</p-dialog>
